<footer class="footer">
    <div class="footer__logo">
        <a href="#" class="nav__link nav__link--logo">
            <i class="fas fa-shopping-cart logo-icono logo-icono--blanco"></i>
            <span>miTienda</span>
        </a>
    </div>
    <div class="footer__autor">
        <p>
            Este proyecto fue creado por Alan Beltrán Mendoza en la ciudad de
            México
        </p>
    </div>
    <div class="footer__social">
        <ul>
            <li>
                <a target="_blank" href="https://www.linkedin.com/in/alan-beltr%C3%A1n-mendoza-736718159/"><i
                        class="fab fa-linkedin-in icono-footer"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/alan.beltranmendoza"><i
                        class="fab fa-facebook icono-footer"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://github.com/AlanBM94?tab=repositories"><i
                        class="fab fa-github icono-footer"></i></a>
            </li>
        </ul>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bundle.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>