<body>
    <div class="contenedor">
        <div class="popup popup--perfil" id="popup">
            <div class="popup__detallesCompras">
                <a href="/misCompras" class="popup__detallesCompras__cerrar">X</a>
                <h3 class="tituloDetalles">Detalles de tu compra</h3>
                <div class="popup__detallesComprasContenido">
                    <div class="misComprasHeader">
                        <div class="misCompras__fecha">
                            <h3 class="headerTablaPerfil">Cantidad</h3>
                        </div>
                        <div class="misCompras__productos">
                            <h3 class="headerTablaPerfil">Producto</h3>
                        </div>
                        <div class="misCompras__precio">
                            <h3 class="headerTablaPerfil">Precio unitario</h3>
                        </div>
                        <div class="misCompras__verDetalles">
                            <h3 class="headerTablaPerfil">Precio total</h3>
                        </div>
                    </div>
                    <div class="misComprasContenido">
                        <div class="misCompras__fecha">
                            <h3 class="textoTablaPerfil">2</h3>
                        </div>
                        <div class="misCompras__productos">
                            <h3 class="textoTablaPerfil">Televisión Samsung 4k</h3>
                        </div>
                        <div class="misCompras__precio">
                            <h3 class="textoTablaPerfil">$5,000</h3>
                        </div>
                        <div class="misCompras__verDetalles">
                            <h3 class="textoTablaPerfil">$10,000</h3>
                        </div>
                    </div>
                    <div class="misComprasContenido">
                        <div class="misCompras__fecha">
                            <h3 class="textoTablaPerfil">2</h3>
                        </div>
                        <div class="misCompras__productos">
                            <h3 class="textoTablaPerfil">Televisión Samsung 4k</h3>
                        </div>
                        <div class="misCompras__precio">
                            <h3 class="textoTablaPerfil">$5,000</h3>
                        </div>
                        <div class="misCompras__verDetalles">
                            <h3 class="textoTablaPerfil">$10,000</h3>
                        </div>
                    </div>
                    <div class="misComprasContenido">
                        <div class="misCompras__fecha">
                            <h3 class="textoTablaPerfil">2</h3>
                        </div>
                        <div class="misCompras__productos">
                            <h3 class="textoTablaPerfil">Televisión Samsung 4k</h3>
                        </div>
                        <div class="misCompras__precio">
                            <h3 class="textoTablaPerfil">$5,000</h3>
                        </div>
                        <div class="misCompras__verDetalles">
                            <h3 class="textoTablaPerfil">$10,000</h3>
                        </div>
                    </div>
                    <div class="misComprasContenido" id="contenidoCompras">
                        <div class="misCompras__fecha">
                            <h3 class="textoTablaPerfil">2</h3>
                        </div>
                        <div class="misCompras__productos">
                            <h3 class="textoTablaPerfil">Televisión Samsung 4k</h3>
                        </div>
                        <div class="misCompras__precio">
                            <h3 class="textoTablaPerfil">$5,000</h3>
                        </div>
                        <div class="misCompras__verDetalles">
                            <h3 class="textoTablaPerfil">$10,000</h3>
                        </div>
                    </div>
                    <div class="misComprasContenido">
                        <div class="misCompras__fecha">
                            <h3 class="textoTablaPerfil">2</h3>
                        </div>
                        <div class="misCompras__productos">
                            <h3 class="textoTablaPerfil">Televisión Samsung 4k</h3>
                        </div>
                        <div class="misCompras__precio">
                            <h3 class="textoTablaPerfil">$5,000</h3>
                        </div>
                        <div class="misCompras__verDetalles">
                            <h3 class="textoTablaPerfil">$10,000</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="perfil">
            <div class="perfil__personal">
                <div class="perfil__personalInfo">
                    <div>
                        <img src="/images/usuarios/{{usuario.foto}}" alt="{{usuario.nombre}}" id="usuarioId"
                            data-id="{{usuario.id}}" />
                    </div>
                    <h4>{{usuario.nombre}}</h4>
                    <span>Premium</span>
                </div>
                <div class="perfil__personalOpciones">
                    <ul>
                        <li>
                            <a href="/perfil"><i class="fas fa-user"></i> Mi perfil</a>
                        </li>
                        <li>
                            <a href="/misCompras"> <i class="fas fa-shopping-cart"></i>Mis compras</a>
                        </li>
                        <li>
                            <a href="/misResenias"><i class="fas fa-pen-alt"></i></i></i>Mis reseñas</a>
                        </li>
                        <li>
                            <a href="/"><i class="fas fa-sign-out-alt"></i>Regresar</a>
                        </li>
                    </ul>
                </div>
            </div>