<!-- Categoría -->
<section class="categoria caracteristicas caracteristicas--categoria">
    <h3 class="categoria__titulo">{{categoria}}</h3>
    <div class="categoria__contenido">
        {{# each productos}}
        <div class="categoria__item">
            <a href="producto.html">
                <img src="images/productos/{{this.imagenPrincipal}}" alt="" />
            </a>
            <div class="categoria__itemFooter">
                <h4>{{this.nombre}}</h4>
                <p>${{this.precio}}</p>
                <i class="far fa-heart"></i>
            </div>
        </div>
        {{/ each}}

    </div>
</section>
{{> footer}}