<title>Iniciar sesión</title>
<section class="formulario">
    <a href="/" class="titulo-logo">
        <i class="fas fa-shopping-cart logo-icono"></i>
        Mi tienda
    </a>
    <div class="formulario__contenido">
        <h2 class="formulario__titulo">Iniciar sesión</h2>
        <form action="usuarioLogeado.html" class="formulario__form formulario__form--login"
            id="formularioIniciarSesion">
            <input class="formulario__input" type="text" placeholder="Correo electrónico" />
            <input class="formulario__input" type="password" placeholder="Contraseña" />
            <button class="formulario__btnEnviar btn">Iniciar sesión</button>
            <a href="/registrarse" class="formulario__enlaceSecundario">Aún no tienes cuenta?</a>
            <a href="/recuperarContrasenia" class="formulario__enlaceSecundario">Olvidaste tu contraseña?</a>
        </form>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bundle.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>