{{> navigationPerfil}}
<div class="perfil__contenido">
    <div class="perfil__contenidoPrincipal">
        <h4>Mis reseñas</h4>
        <div class="misReseñasHeader">
            <div class="misReseñas__fecha">
                <h3 class="headerTablaPerfil">Fecha</h3>
            </div>
            <div class="misReseñas__productos">
                <h3 class="headerTablaPerfil">Producto</h3>
            </div>
            <div class="misReseñas__precio">
                <h3 class="headerTablaPerfil">Vista previa</h3>
            </div>
            <div class="misReseñas__acciones">
                <h3 class="headerTablaPerfil">Acciones</h3>
            </div>
        </div>
    </div>
    <div class="misReseñasContenido">
        <div class="misReseñas__fecha">
            <h3 class="textoTablaPerfil">18/11/2019</h3>
        </div>
        <div class="misReseñas__productos">
            <h3 class="textoTablaPerfil">Televisión Samsung 4k</h3>
        </div>
        <div class="misReseñas__precio">
            <h3 class="textoTablaPerfil">Lorem ipsum dolor sit amet consectetur adipisicing elit...</h3>
        </div>
        <div class="misReseñas__acciones">
            <i class="fas fa-edit icono-editar"></i>
            <i class="fas fa-trash-alt icono-eliminar"></i>
        </div>
    </div>
    <div class="misReseñasContenido">
        <div class="misReseñas__fecha">
            <h3 class="textoTablaPerfil">18/11/2019</h3>
        </div>
        <div class="misReseñas__productos">
            <h3 class="textoTablaPerfil">Televisión Samsung 4k</h3>
        </div>
        <div class="misReseñas__precio">
            <h3 class="textoTablaPerfil">Lorem ipsum dolor sit amet consectetur adipisicing elit...</h3>
        </div>
        <div class="misReseñas__acciones">
            <i class="fas fa-edit icono-editar"></i>
            <i class="fas fa-trash-alt icono-eliminar"></i>
        </div>
    </div>
    <div class="misReseñasContenido">
        <div class="misReseñas__fecha">
            <h3 class="textoTablaPerfil">18/11/2019</h3>
        </div>
        <div class="misReseñas__productos">
            <h3 class="textoTablaPerfil">Televisión Samsung 4k</h3>
        </div>
        <div class="misReseñas__precio">
            <h3 class="textoTablaPerfil">Lorem ipsum dolor sit amet consectetur adipisicing elit...</h3>
        </div>
        <div class="misReseñas__acciones">
            <i class="fas fa-edit icono-editar"></i>
            <i class="fas fa-trash-alt icono-eliminar"></i>
        </div>
    </div>
    <div class="misReseñasContenido">
        <div class="misReseñas__fecha">
            <h3 class="textoTablaPerfil">18/11/2019</h3>
        </div>
        <div class="misReseñas__productos">
            <h3 class="textoTablaPerfil">Televisión Samsung 4k</h3>
        </div>
        <div class="misReseñas__precio">
            <h3 class="textoTablaPerfil">Lorem ipsum dolor sit amet consectetur adipisicing elit...</h3>
        </div>
        <div class="misReseñas__acciones">
            <i class="fas fa-edit icono-editar"></i>
            <i class="fas fa-trash-alt icono-eliminar"></i>
        </div>
    </div>
    <div class="misReseñasContenido">
        <div class="misReseñas__fecha">
            <h3 class="textoTablaPerfil">18/11/2019</h3>
        </div>
        <div class="misReseñas__productos">
            <h3 class="textoTablaPerfil">Televisión Samsung 4k</h3>
        </div>
        <div class="misReseñas__precio">
            <h3 class="textoTablaPerfil">Lorem ipsum dolor sit amet consectetur adipisicing elit...</h3>
        </div>
        <div class="misReseñas__acciones">
            <i class="fas fa-edit icono-editar"></i>
            <i class="fas fa-trash-alt icono-eliminar"></i>
        </div>
    </div>

</div>
</div>
</div>
</body>

</html>