{{> navigationPerfil}}
<div class="perfil__contenido">
    <div class="perfil__contenidoPrincipal">
        <h4>Ajustes de tu perfil</h4>
        <form action="#" class="formularioPerfil" id="formularioAjustes">
            <div class="formularioPerfil__contenedorInput formularioPerfil__contenedorInput--nombre">
                <label for="nombreAjustes">Nombre</label>
                <input type="text" name="nombre" id="nombreAjustes" value="{{usuario.nombre}}" required minlength="3" maxLength="10"/>
            </div>
            <div class="formularioPerfil__contenedorInput formularioPerfil__contenedorInput--correo">
                <label for="correoAjustes">Correo electrónico</label>
                <input type="email" name="correo" id="correoAjustes" value="{{usuario.email}}" required />
            </div>
            <div class="formularioPerfil__contenedorInput formularioPerfil__contenedorInput--foto">
                <img src="/images/usuarios/{{usuario.foto}}" alt="usuario" />
                <label for="fotoAjustes" class="btn btn--secundario btn--secundarioContraseña"
                    style="margin-right: 10px;" id="btnCambiarFoto">Cambia tu foto</label>
                <input type="file" name="foto" accept='image/*' id="fotoAjustes" placeholder="Cambiar foto" />
                <br>
                <span> (.jpg, png, jpeg) </span>
            </div>
            <div class="formularioPerfil__contenedorBotonEnviar">
                <button type="submit" class="btn btn--rojo">Guardar</button>
                </>
        </form>
    </div>
    <div class="perfil__contenidoContraseña">
        <h4>Cambiar contraseña</h4>
        <form class="formularioPerfil formularioPerfil--2" id="formularioContraseña">
            <div class="formularioPerfil__contenedorInput formularioPerfil__contenedorInput--nombre">
                <label for="contraseñaActual">Contraseña actual</label>
                <input type="password" id="contraseñaActual" required minlength="8" />
                <br>
                <label for="nuevaContraseña">Nueva contraseña</label>
                <input type="password" id="nuevaContraseña" required minlength="8" />
            </div>
            <div class="formularioPerfil__contenedorInput formularioPerfil__contenedorInput--correo">
                <label for="confirmarContraseña">Confirmar contraseña</label>
                <input type="password" id="confirmarContraseña" required minlength="8" />
            </div>
            <div class="formularioPerfil__contenedorBotonEnviar formularioPerfil__contenedorBotonEnviar--contraseña">
                <button type="submit" class="btn btn--rojo btnContraseña" id="guardarContraseña">Guardar</button>
                </>
        </form>
    </div>
</div>
</div>
</div>
</body>
{{> scripts}}

</html>