<title>Recuperar contraseña</title>
<section class="formulario">
    <h1 class="titulo-logo">
        <i class="fas fa-shopping-cart logo-icono"></i>
        Mi tienda
    </h1>
    <div class="formulario__contenido">
        <h2 class="formulario__titulo">Recuperar contraseña</h2>
        <form action="usuarioLogeado.html" class="formulario__form formulario__form--login"
            id="formularioRecuperarContrasenia">
            <label class="formulario__textoRecuperarContrasenia" for="correoElectronico">Por favor introduzca su
                dirección de correo electrónico para recibir un
                enlace de restablecimiento de contraseña.</label>
            <input class="formulario__input" type="email" placeholder="Correo electrónico"
                id="inputCorreoRecuperarContrasenia" required />
            <button class="formulario__btnEnviar btn">Enviar correo</button>
        </form>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bundle.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>