<title>Registrate</title>
<section class="formulario">
    <h1 class="titulo-logo">
        <i class="fas fa-shopping-cart logo-icono"></i>
        Mi tienda
    </h1>
    <div class="formulario__contenido">
        <h2 class="formulario__titulo">Registrate</h2>
        <form action="#" id="formularioRegistrarse" class="formulario__form">
            <input class="formulario__input" id="registrarseNombre" type="text" placeholder="Usuario" />
            <input class="formulario__input" id="registrarseEmail" type="text" placeholder="Correo electrónico" />
            <input class="formulario__input" id="registrarseContraseña" type="password" placeholder="Contraseña" />
            <input class="formulario__input" id="registrarseConfirmarContraseña" type="password"
                placeholder="Confirmar contraseña" />
            <div class="formulario__form__contenedorRegistrarse">
                <button class="formulario__btnEnviar btn">Registrarse</button>
                <i class="fas fa-exclamation-circle formulario__form__icono"></i>
                <div class="formulario__form__contenedorErrores" id="contenedorErrores">
                    <ul>
                        <li>El correo electrónico tiene que ser único</li>
                        <li>El correo electrónico debe de ser válido</li>
                        <li>El nombre debe de tener al menos 3 caracteres</li>
                        <li>El nombre debe de tener como máximo 10 caracteres</li>
                        <li>La contraseña debe de tener al menos 3 caracteres</li>
                        <li>La contraseña debe de tener como máximo 20 caracteres</li>
                        <li>Las contraseñas deben de ser iguales</li>
                    </ul>
                </div>
            </div>
            <a href="/iniciarSesion" class="formulario__enlaceSecundario">Ya tienes cuenta?</a>
        </form>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bundle.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>