<title>Registrate</title>
<section class="formulario">
    <a href="/" class="titulo-logo">
        <i class="fas fa-shopping-cart logo-icono"></i>
        Mi tienda
    </a>
    <div class="formulario__contenido">
        <h2 class="formulario__titulo">Registrate</h2>
        <form action="#" id="formularioRegistrarse" class="formulario__form">
            <input class="formulario__input" id="registrarseNombre" type="text" placeholder="Usuario" minlength="3"
                maxlength="10" />
            <input class="formulario__input" id="registrarseEmail" type="text" placeholder="Correo electrónico" />
            <input class="formulario__input" id="registrarseContraseña" type="password" placeholder="Contraseña"
                minlength="8" />
            <input class="formulario__input" id="registrarseConfirmarContraseña" type="password"
                placeholder="Confirmar contraseña" minlength="8" />
            <div class="formulario__form__contenedorRegistrarse">
                <button class="formulario__btnEnviar btn">Registrarse</button>
            </div>
            <a href="/iniciarSesion" class="formulario__enlaceSecundario">Ya tienes cuenta?</a>
        </form>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bundle.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>