.caracteristicas {
  padding: 10rem 8rem;
  height: 60rem;
  &--categoria {
    height: auto;
  }
  &__titulo {
    @include titulo;
  }
  &__contenido {
    height: 40rem;
    @include flexCenter;
    justify-content: space-around;
    opacity: 0;
    transition: all 0.2s;
  }
  &__item {
    background: $color-rosa-claro;
    width: 13rem;
    height: 13rem;
    top: -13%;
    border-radius: 6.5rem;
    position: relative;
    @include flexColumn;
  }
  &__icono {
    color: $color-primario;
    font-size: 4rem;
  }
  &__subtitulo {
    position: absolute;
    top: 122%;
    width: 20rem;
    color: $color-primario;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
  }
  &__texto {
    font-size: $tamanio-default-letra;
    color: $negro;
    opacity: 0.6;
    position: absolute;
    font-weight: 600;
    width: 30rem;
    text-align: center;
    top: 190px;
  }
}
