header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: $gradiente-oscuro, url(#{$imgpath}/comprador.jpg);
  background-size: cover;
  .hero {
    width: 60rem;
    height: 20rem;
    position: absolute;
    background: $blanco;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    display: flex;
    @include responsive(tab-port) {
      // width < 900?
      flex-direction: column;
      width: 35rem;
      height: 35rem;
      margin-top: 3rem;
    }
    &__primario {
      background: $color-primario;
      height: 100%;
      width: 40%;
      padding: 3rem 0;
      @include responsive(tab-port) {
        // width < 900?
        width: 100%;
        height: 75%;
      }
    }
    &__titulo {
      font-size: 2.8rem;
      margin-top: 2rem;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      color: $blanco;
    }
    &__texto {
      font-size: 2rem;
      color: #ffff;
      font-weight: 600;
      position: relative;
      margin-top: 2rem;
      text-align: center;
    }
    &__secundario {
      width: 60%;
      height: 100%;
      padding: 1rem;
      @include flexColumn;
      @include responsive(tab-port) {
        // width < 900?
        width: 100%;
      }
    }
    & span {
      font-size: 1.4rem;
      margin-top: 2rem;
      font-weight: 700;
      color: $negro;
      &::before {
        @include promocionEstilo;
        left: 52%;
        @include responsive(tab-port) {
          // width < 900?
          top: 64%;
          left: 77%;
        }
      }
      &::after {
        @include promocionEstilo;
        left: 84%;
        @include responsive(tab-port) {
          // width < 900?
          top: 64%;
          left: 17%;
        }
      }
      opacity: 0.7;
    }
    &__btn {
      margin-top: -2rem;
      background: $color-primario;
      color: $blanco;
      transition: all 0.2s;
      font-weight: 600;
      &:hover {
        background: $color-primario-hover;
      }
    }
  }
}
