.nav {
  background: transparent;
  height: 8rem;
  padding: 1rem 4rem;
  width: 100%;
  position: absolute;
  @include flexCenter;
  &__lista {
    list-style: none;
    position: absolute;
    top: 5rem;
    background: transparent;
    left: 22rem;
    padding: 2rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
  }
  &__item {
    margin-bottom: 1.2rem;
  }
  &__link {
    @include linkEstilos;
    color: $blanco;
    &--logo {
      font-size: 1.8rem;
      font-weight: 600;
      margin-left: 1rem;
      margin-right: 8rem;
    }
    &--categorias {
      position: relative;
      height: 8rem;
      cursor: pointer;
      @include flexCenter;
    }
  }
  &__link--categorias:hover + &__lista {
    @include opacityAndVisibility;
  }
  &__lista:hover {
    @include opacityAndVisibility;
  }
  &__seccion-usuario {
    margin-left: auto;
  }
  &__seccion-usuario-lista {
    display: flex;
    list-style: none;
  }
  &__seccion-usuario-item {
    margin-right: 3rem;
  }
  &__seccion-usuario-btn {
    @include linkEstilos;
    color: $blanco;
    font-weight: 600;

    &--rojo {
      background: $color-primario;
      padding: 1rem;
      transition: all 0.2s;
      &:hover {
        background: $color-primario-hover;
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $negro;
  z-index: 9999;
  opacity: 0.9;
}
