.testimonial {
  padding: $paddingSecciones;
  width: 100%;
  height: 60rem;
  &__titulo {
    @include titulo;
  }
  &__contenedorGrande {
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: all 0.2s;
  }
  &__contenedor {
    width: 30rem;
    height: 25rem;

    display: flex;
    flex-direction: column;
  }
  &__contenedorUsuario {
    background: $negro;
    width: 100%;
    height: 50%;
    @include flexCenter;
    justify-content: center;
    & img {
      width: 6rem;
      height: 6rem;
      border-radius: 12rem;
    }
  }
  &__contenedorTestimonial {
    @include flexColumn;
    padding: 1rem;
    background: $gris-claro;
    width: 100%;
    height: 50%;
  }
}
