.titulo-logo {
  font-size: 3rem;
  text-align: center;
}

.headerTablaPerfil {
  font-size: $tamanio-default-letra;
  color: $negro;
}

.textoTablaPerfil {
  font-size: 1.2rem;
  color: $negro;
  font-weight: 400;
}

.testimonialTexto {
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 700;
}

.testimonialUsuario {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.8;
}
