{{> header }}
<!-- Caracteristicas -->
<section class="caracteristicas">
    <!-- Caracteristicas titulo -->
    <h3 class="caracteristicas__titulo">Nuestras características</h3>
    <div class="caracteristicas__contenido">
        <!-- Caracteristicas item -->
        <div class="caracteristicas__item">
            <i class="caracteristicas__icono fas fa-money-bill"></i>
            <h3 class="caracteristicas__subtitulo">
                Mejores Precios
            </h3>
            <p class="caracteristicas__texto">
                Encuentra los mejores productos a precios razonables
            </p>
        </div>
        <!-- Caracteristicas item -->
        <div class="caracteristicas__item">
            <i class="caracteristicas__icono fas fa-lock"></i>
            <h3 class="caracteristicas__subtitulo">
                Compras Seguras
            </h3>
            <p class="caracteristicas__texto">
                Realiza compras seguras con Stripe
            </p>
        </div>
        <!-- Caracteristicas item -->
        <div class="caracteristicas__item">
            <i class="caracteristicas__icono fas fa-check"></i>
            <h3 class="caracteristicas__subtitulo">
                Mejores Productos
            </h3>
            <p class="caracteristicas__texto">
                Encuentra los productos de las mejores marcas
            </p>
        </div>
    </div>
</section>
<!-- Menú -->
<section class="menu">
    <div class="menu__contenedor">
        <div class="menu__item menu__electronica">
            <a href="/electronica" class="menu__enlace">
                Electrónica
            </a>
        </div>
        <div class="menu__item menu__hogar">
            <a href="/hogarYCocina" class="menu__enlace">
                Hogar y cocina
            </a>
        </div>
        <div class="menu__item menu__deportes">
            <a href="/deportes" class="menu__enlace">
                Deportes
            </a>
        </div>
        <div class="menu__item menu__ropa">
            <a href="/ropaYAccesorios" class="menu__enlace">
                Ropa y accesorios
            </a>
        </div>
        <div class="menu__item menu__herramientas">
            <a href="/herramientas" class="menu__enlace">
                Herramientas y hogar
            </a>
        </div>
    </div>
</section>
<!-- Testimoniales -->
<section class="testimonial">
    <h3 class="testimonial__titulo">Mira lo que la gente dice de nosotros</h3>
    <div class="testimonial__contenedorGrande">

        <div class="testimonial__contenedor">
            <div class="testimonial__contenedorUsuario">
                <img src="images/Alan.jpg" alt="">
            </div>
            <div class="testimonial__contenedorTestimonial">
                <i class="fas fa-quote-left icono-testimonial"></i>
                <h4 class="testimonialTexto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, ratione
                    nihil! Molestias iste
                </h4>
                <span class="testimonialUsuario"> -Alan Beltrán- </span>

            </div>
        </div>
        <div class="testimonial__contenedor">
            <div class="testimonial__contenedorUsuario">
                <img src="images/Alan.jpg" alt="">
            </div>
            <div class="testimonial__contenedorTestimonial">
                <i class="fas fa-quote-left icono-testimonial"></i>
                <h4 class="testimonialTexto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, ratione
                    nihil! Molestias iste
                </h4>
                <span class="testimonialUsuario"> -Alan Beltrán- </span>

            </div>
        </div>
        <div class="testimonial__contenedor">
            <div class="testimonial__contenedorUsuario">
                <img src="images/Alan.jpg" alt="">
            </div>
            <div class="testimonial__contenedorTestimonial">
                <i class="fas fa-quote-left icono-testimonial"></i>
                <h4 class="testimonialTexto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, ratione
                    nihil! Molestias iste
                </h4>
                <span class="testimonialUsuario"> -Alan Beltrán- </span>

            </div>
        </div>

    </div>
</section>
<!-- Productos más vendidos -->
<section class="mejoresProductos ">
    <h3 class="mejoresProductos__titulo">Nuestros productos más vendidos</h3>

    <div class="mejoresProductos__slider glider-contain multiple">
        <button class="glider-prev" role="button" aria-label="Previous">
            <i class="fa fa-chevron-left"></i>
        </button>
        <div class="mejoresProductos__contenido glider">
            <div class="mejorProducto" id="productoMasVendido-1">
                <h4 class="mejorProducto__titulo" id="productoMasVendidoTitulo-1"></h4>
                <p class="mejorProducto__descripcion" id="productoMasVendidoDescripcion-1">

                </p>
                <a class="mejorProducto__enlace" id="productoMasVendidoEnlace-1">Ver Producto</a>
            </div>
            <div class="mejorProducto" id="productoMasVendido-2">
                <h4 class="mejorProducto__titulo" id="productoMasVendidoTitulo-2"></h4>
                <p class="mejorProducto__descripcion" id="productoMasVendidoDescripcion-2">

                </p>
                <a class="mejorProducto__enlace" id="productoMasVendidoEnlace-2">Ver producto</a>
            </div>
            <div class="mejorProducto" id="productoMasVendido-3">
                <h4 class="mejorProducto__titulo" id="productoMasVendidoTitulo-3"></h4>
                <p class="mejorProducto__descripcion" id="productoMasVendidoDescripcion-3">

                </p>
                <a class="mejorProducto__enlace" id="productoMasVendidoEnlace-3">Ver producto</a>
            </div>
        </div>
        <button class="glider-next" role="button" aria-label="Next">
            <i class="fa fa-chevron-right"></i>
        </button>
        <div role="tablist" class="glider-dots" id="dots"></div>
    </div>
</section>
{{> footer}}
{{> glider}}