@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.logo-icono {
  color: #ed2827;
}

.logo-icono--blanco {
  color: #ffff;
}

.icono-footer {
  color: #ffff;
  font-size: 1.4rem;
}

.caracteristicas {
  padding: 10rem 8rem;
  height: 60rem;
}

.caracteristicas--categoria {
  height: auto;
}

.caracteristicas__titulo {
  text-align: center;
  font-size: 4.2rem;
  color: #232121;
  font-weight: 300;
  position: relative;
}

.caracteristicas__titulo:before {
  position: absolute;
  content: '';
  top: 130%;
  left: 44%;
  width: 15rem;
  height: 2px;
  background: #ed2827;
}

.caracteristicas__contenido {
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.caracteristicas__item {
  background: #fef3f3;
  width: 13rem;
  height: 13rem;
  top: -13%;
  border-radius: 6.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.caracteristicas__icono {
  color: #ed2827;
  font-size: 4rem;
}

.caracteristicas__subtitulo {
  position: absolute;
  top: 122%;
  width: 20rem;
  color: #ed2827;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

.caracteristicas__texto {
  font-size: 1.6rem;
  color: #232121;
  opacity: 0.6;
  position: absolute;
  font-weight: 600;
  width: 30rem;
  text-align: center;
  top: 190px;
}

.categoria__titulo {
  text-align: center;
  font-size: 4.2rem;
  color: #232121;
  font-weight: 300;
  position: relative;
  margin-top: 5rem;
}

.categoria__titulo:before {
  position: absolute;
  content: '';
  top: 130%;
  left: 44%;
  width: 15rem;
  height: 2px;
  background: #ed2827;
}

.categoria__contenido {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-gap: 5rem;
  padding: 13rem 10rem;
}

.categoria__item {
  -ms-grid-column-align: center;
      justify-self: center;
}

.categoria__item a {
  width: 25rem;
  height: 25rem;
}

.categoria__item a img {
  width: 22rem;
  height: 22rem;
  border: 3rem solid #f3f2f2;
}

.categoria__itemFooter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.categoria__itemFooter h4 {
  font-size: 1.4rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.categoria__itemFooter p {
  font-size: 1.3rem;
  opacity: 0.7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.categoria__itemFooter i {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  font-size: 1.6rem;
  color: #ed2827;
  -ms-grid-column-align: center;
      justify-self: center;
}

.categoria__itemFooter i:hover {
  cursor: pointer;
}

.footer {
  height: 8rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #ed2827;
}

.footer__autor {
  font-size: 1.4rem;
  color: #ffff;
}

.footer__social {
  background: 5rem;
}

.footer__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 7rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.562)), to(rgba(0, 0, 0, 0.562))), url(/public/images/comprador.jpg);
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url(/public/images/comprador.jpg);
  background-size: cover;
}

header .hero {
  position: absolute;
  background: #ffff;
  left: 50%;
  top: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30rem;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .hero__titulo {
  font-size: 3.8rem;
  margin-top: 2rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ed2827;
}

header .hero__texto {
  font-size: 2rem;
  color: #232121;
  font-weight: 600;
  position: relative;
  margin-top: -4rem;
}

header .hero__texto::before {
  content: '';
  display: block;
  position: absolute;
  top: 40%;
  width: 2.2rem;
  height: 0.3rem;
  background: #ed2827;
  left: -13%;
}

header .hero__texto::after {
  content: '';
  display: block;
  position: absolute;
  top: 40%;
  width: 2.2rem;
  height: 0.3rem;
  background: #ed2827;
  left: 103%;
}

header .hero span {
  font-size: 1.4rem;
  margin-top: -4rem;
  color: #232121;
  opacity: 0.7;
}

header .hero__btn {
  margin-top: -2rem;
  background: #ed2827;
  color: #ffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 600;
}

header .hero__btn:hover {
  background: #df1413;
}

.menu {
  padding: 10rem 8rem;
  height: auto;
  background: #f3f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__contenedor {
  width: 50rem;
  height: 60rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.menu__item {
  text-align: center;
}

.menu__enlace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.6rem;
  color: #ffff;
}

.menu__electronica {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.562)), to(rgba(0, 0, 0, 0.562))), url(/public/images/electronica.jpg);
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url(/public/images/electronica.jpg);
  background-size: cover;
}

.menu__hogar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.562)), to(rgba(0, 0, 0, 0.562))), url(/public/images/hogar.jpg);
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url(/public/images/hogar.jpg);
  background-size: cover;
}

.menu__deportes {
  grid-column: 2 / -1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.562)), to(rgba(0, 0, 0, 0.562))), url(/public/images/deportes.jpg);
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url(/public/images/deportes.jpg);
  background-size: cover;
}

.menu__ropa {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  grid-row: 4 / -1;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.562)), to(rgba(0, 0, 0, 0.562))), url(/public/images/ropa.jpg);
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url(/public/images/ropa.jpg);
  background-size: cover;
}

.menu__herramientas {
  grid-column: 2 / -1;
  grid-row: 4 / -1;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.562)), to(rgba(0, 0, 0, 0.562))), url(/public/images/herramientas.jpg);
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url(/public/images/herramientas.jpg);
  background-size: cover;
}

.nav {
  background: transparent;
  height: 8rem;
  padding: 1rem 4rem;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav--sticky {
  background: #232121;
}

.nav__lista {
  list-style: none;
  position: absolute;
  top: 5rem;
  background: transparent;
  left: 22rem;
  padding: 2rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav__item {
  margin-bottom: 1.2rem;
}

.nav__link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #ffff;
}

.nav__link--logo {
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 1rem;
  margin-right: 8rem;
}

.nav__link--categorias {
  position: relative;
  height: 8rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link--categorias:hover + .nav__lista {
  visibility: visible;
  opacity: 1;
}

.nav__lista:hover {
  visibility: visible;
  opacity: 1;
}

.nav__seccion-usuario {
  margin-left: auto;
}

.nav__seccion-usuario-lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav__seccion-usuario-item {
  margin-right: 3rem;
}

.nav__seccion-usuario-btn {
  text-decoration: none;
  font-size: 1.6rem;
  color: #ffff;
  font-weight: 600;
}

.nav__seccion-usuario-btn--rojo {
  background: #ed2827;
  padding: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav__seccion-usuario-btn--rojo:hover {
  background: #df1413;
}

.nav__seccionDinamicaPerfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
  height: 6rem;
  width: 40rem;
}

.nav__btnCarrito {
  width: 30%;
  height: 4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: transparent;
  border: 2px solid #ffff !important;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffff;
  position: relative;
}

.nav__btnCarrito span {
  position: absolute;
  left: 108%;
  top: -2px;
  height: 4rem;
  width: 3rem;
  border: 2px solid #ed2827 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__usuario {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  width: 13rem;
  height: 100%;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  margin-top: 1rem;
}

.nav__usuario img {
  width: 5rem;
  height: 5rem;
  border-radius: 10rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__usuario p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 10px;
  font-size: 16px;
  color: #ffff;
  height: 100%;
}

.nav__usuario p:hover {
  cursor: pointer;
}

.nav p:hover + .nav__usuarioDropdown {
  visibility: visible;
  opacity: 1;
}

.nav__usuarioDropdown:hover {
  visibility: visible;
  opacity: 1;
}

.nav__usuarioDropdown {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column-align: center;
      justify-self: center;
  list-style: none;
  text-align: end;
  background: transparent;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav__usuarioDropdown li:not(:last-child) {
  margin-bottom: 1rem;
}

.nav__usuarioDropdown li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #ffff;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #232121;
  z-index: 9999;
  opacity: 0.9;
}

.testimonial {
  padding: 10rem 8rem;
  width: 100%;
  height: 60rem;
}

.testimonial__titulo {
  text-align: center;
  font-size: 4.2rem;
  color: #232121;
  font-weight: 300;
  position: relative;
}

.testimonial__titulo:before {
  position: absolute;
  content: '';
  top: 130%;
  left: 44%;
  width: 15rem;
  height: 2px;
  background: #ed2827;
}

.testimonial__contenedorGrande {
  width: 100%;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.testimonial__contenedor {
  width: 30rem;
  height: 25rem;
  -webkit-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.46));
          filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.46));
}

.testimonial__contenido {
  height: 100%;
  width: 100%;
  background: #f3f2f2;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 46% 75%, 25% 99%, 25% 75%, 0% 75%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 46% 75%, 25% 99%, 25% 75%, 0% 75%);
  position: relative;
  padding: 2rem;
}

.testimonial__contenido p {
  position: absolute;
  text-align: center;
  top: 7.1rem;
  font-weight: 600;
  font-style: italic;
  width: 26rem;
  font-size: 1.6rem;
}

.testimonial__contenido p::before {
  display: block;
  position: absolute;
  top: -55%;
  color: #ed2827;
  content: '"';
  font-weight: 600;
  font-style: italic;
  font-size: 4rem;
}

.testimonial__autor {
  background: red;
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  position: absolute;
  left: 13%;
}

.testimonial__autor--1 {
  background: url(/public/images/Alan.jpg);
  background-size: cover;
}

.testimonial__autor--2 {
  background: url(/public/images/Sus.jpg);
  background-size: cover;
}

.testimonial__autor--3 {
  background: url(/public/images/Pablin.jpg);
  background-size: cover;
}

.testimonial__autor span {
  position: absolute;
  font-size: 1.6rem;
  color: #ed2827;
  width: 4rem;
  top: 31%;
  width: 24rem;
  left: 110%;
  font-weight: 600;
  text-align: start;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #232121;
}

.titulo-logo {
  font-size: 3rem;
  text-align: center;
}

.btn {
  border: none;
  padding: 1rem 1.2rem;
}

.btn:hover {
  border: none;
  cursor: pointer;
}

.formulario {
  padding: 8rem 8rem;
  background: #f3f2f2;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulario__contenido {
  margin-top: 2rem;
  width: 35rem;
  background: #ffff;
  height: 60rem;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.46);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.46);
  padding: 1rem;
}

.formulario__titulo {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
}

.formulario__form {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulario__form--login {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.formulario__input {
  text-align: center;
  width: 100%;
  height: 2rem;
  padding: 1.3rem 1rem;
  border-radius: 2px;
  border: 2px solid #f3f2f2;
  font-size: 1.6rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.formulario__input:focus {
  outline: none;
  border-bottom: 2px solid #ed2827;
}

.formulario__btnEnviar {
  width: 100%;
  height: 4rem;
  background: #ed2827;
  color: #ffff;
  font-size: 1.6rem;
  font-weight: 600;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.formulario__btnEnviar:hover {
  background: #df1413;
}

.formulario__enlaceSecundario {
  font-size: 1.4rem;
  color: #df1413;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */