.formulario {
  padding: 8rem 8rem;
  background: $gris-claro;
  height: 100vh;
  width: 100%;

  &__textoRecuperarContrasenia {
    font-size: 13px;
  }

  &--popup {
    width: 70%;
  }
  @include flexColumn;
  &__contenido {
    margin-top: 2rem;
    width: 35rem;
    background: $blanco;
    height: 50rem;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.46);
    padding: 1rem;
  }
  &__titulo {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
  }
  &__form {
    width: 80%;
    height: 90%;
    margin: 0 auto;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &--login {
      justify-content: space-around;
    }
    &--reseña {
      & input {
        max-width: 10rem;
      }
    }
    & textarea {
      resize: none;
      height: 213px;
    }
    &__contenedorRegistrarse {
      height: 7rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__icono {
      color: $color-primario;
      cursor: pointer;
      font-size: 2rem;
      justify-self: flex-end;
      align-self: center;
    }
  }

  &__input {
    text-align: center;
    width: 100%;
    height: 2rem;
    padding: 1.3rem 1rem;
    border-radius: 2px;
    border: 2px solid $gris-claro;
    font-size: $tamanio-default-letra;
    transition: all 0.2s;
    &:focus {
      outline: none;
      border-bottom: 2px solid $color-primario;
    }
  }
  &__btnEnviar {
    width: 100%;
    height: 4rem;
    background: $color-primario;
    color: $blanco;
    font-size: $tamanio-default-letra;
    font-weight: 600;
    transition: all 0.2s;
    &:hover {
      background: $color-primario-hover;
    }
  }
  &__enlaceSecundario {
    font-size: 1.4rem;
    color: $color-primario-hover;
    text-decoration: none;
  }
}

.formularioPerfil {
  max-width: 60rem;
  height: 80%;
  display: grid;
  grid-template-rows: repeat(4, 10rem);
  margin-bottom: 10rem;
  &--2 {
    margin-bottom: 0;
  }
  &__contenedorInput {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0;
    & label {
      font-size: $tamanio-default-letra;
      color: $negro;
      font-weight: 700;
    }
    &--nombre {
      grid-row: 1 / 2;
    }
    &--correo {
      grid-row: 2 / 3;
    }
    &--foto {
      grid-row: 3 / 4;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      & img {
        width: 6rem;
        height: 6rem;
        border-radius: 12rem;
        margin-right: 2rem;
      }
      & input {
        display: none;
      }
    }
  }
  &__contenedorBotonEnviar {
    height: 100%;
    padding: 1.6rem 0;
    grid-row: 4 / 5;
    justify-self: end;

    &--contraseña {
      grid-row: 3 / 4;
    }

    & button {
      width: 12rem;
      height: 5rem;
    }
  }
}
