@mixin opacityAndVisibility {
  visibility: visible;
  opacity: 1;
}

@mixin titulo {
  text-align: center;
  font-size: 4.2rem;
  color: $negro;
  font-weight: 300;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    top: 130%;
    left: 44%;
    width: 15rem;
    height: 2px;
    background: $color-primario;
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@mixin linkEstilos {
  text-decoration: none;
  font-size: $tamanio-default-letra;
}

@mixin promocionEstilo {
  content: '';
  display: block;
  position: absolute;
  top: 40%;
  width: 2.2rem;
  height: 0.3rem;
  background: $color-primario;
}
