@mixin opacityAndVisibility {
  visibility: visible;
  opacity: 1;
}

@mixin titulo {
  text-align: center;
  font-size: 4.2rem;
  color: $negro;
  font-weight: 300;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
    height: 2px;
    background: $color-primario;
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@mixin linkEstilos {
  text-decoration: none;
  font-size: $tamanio-default-letra;
}

@mixin promocionEstilo {
  content: '';
  display: block;
  position: absolute;
  top: 35%;
  width: 2.2rem;
  height: 0.3rem;
  background: $color-primario;
}

@mixin gridFilaCarrito {
  padding: 1rem;
  display: grid;
  align-items: center;
  grid-gap: 1rem;
  grid-template-columns: 50% repeat(4, 1fr);
  border-bottom: 1px solid $negro;
}

@mixin gridMisCompras {
  display: grid;
  grid-template-columns: 20% 35% 20% 25%;
  padding: 1rem 0;
  border-bottom: 1px solid $negro;
}

@mixin gridMisReseñas {
  display: grid;
  grid-template-columns: 20% 25% 30% 25%;
  padding: 1rem 0;
  border-bottom: 1px solid $negro;
}

// MEDIA QUERY MANAGER

// 0 - 600px:      Phone
// 600 - 900px:    Tablet portrait
// 900 - 1200px:   Tablet landscape
// [1200 - 1800] is where our normal styles apply
// 1800px + :      Big desktop

// $breakpoint arguement choices:
// - phone
// - tab-port
// - tab-land
// - big-desktop

// 1em = 16px
@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}
