// Colores
$color-primario: #ed2827;
$color-primario-hover: #f04746;
$color-rosa-claro: #fef3f3;
$blanco: #ffff;
$negro: #232121;

// Tipografía
$tamanio-default-letra: 1.6rem;

//Ruta de las imagenes
$imgpath: '/public/images';
