// Colores
$color-primario: #ed2827;
$color-primario-hover: #df1413;
$color-rosa-claro: #fef3f3;
$gris-claro: #f3f2f2;
$blanco: #ffff;
$negro: #232121;

// Gradiente oscuro
$gradiente-oscuro: linear-gradient(
  to right bottom,
  rgba(0, 0, 0, 0.562),
  rgba(0, 0, 0, 0.562)
);

// Tipografía
$tamanio-default-letra: 1.6rem;

//Ruta de las imagenes
$imgpath: '/images';

// Padding
$paddingSecciones: 10rem 8rem;
